
<%-include("header")-%>

<h2 style="color: #A683E3">About page</h2>
<ul>
    <li>The maker of this site is just a beginner.</li>
    <li>This is the version 1 of this website</li>
    <li>This website allows its users to organize their activities.</li>
    <li>Note that this is a static website so make sure you always keep it in the background.</li>
    <li>Once page is <b>Refreshed</b> your content gets lost. </li>
    <li>In the process of improving the website.</li>
</ul>

<%-include("footer")-%>